/gradle
/eclipse
/build
/.settings
/.gradle

README.txt
MinecraftForge-License.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
gradlew.bat
gradlew
forge-1.7.10-10.13.0.1180-changelog.txt
CREDITS-fml.txt
build.gradle