/Animation.class
/AnimationAction.class
/AnimationPhaseInfo.class
/AnimationState.class
/BonesBirdLegs.class
/BonesMouth.class
/BonesWings.class
/InterpType.class
/KeyFrame.class
/ModelAnimator.class
/Transition.class
